@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  top: 0px;
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;

}

.navbar {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0 0 0px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}


.nav-logo {
  display: flex;
  height: 80px;
  width: auto;
  margin: -20px 0 0 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.nav-item {
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
  margin-left: -10px;
}

.nav-item .login {
  padding: 6px 6px 6px 6px;
  border-radius: 2px;
  border: 2px solid #cd1717;
  color: #cd1717;
  font-weight: :bold;
}

.nav-item .register {
  padding: 8px 8px 8px 8px;
  background-color: #cd1717;
  margin-left: 0px;
}

.bg {
  position: relative;
  z-index: -1;
  top: -70px;
  left: 0px;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.hamburger {
  display: none;
}

.nav-item :hover {
  background-color: rgba(255, 255, 255, 0.2);

}

#login :hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

#register :hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #cd1717;
}

.title-sponsor {
  position: relative;
  top: -65px;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.title-sponsor-bg {
  position: relative;
  object-fit: cover;
  width: 80%;
}

.about {
  position: relative;
  text-align: center;
  top: -100px;
  object-fit: cover;
}

.about-bg {
  position: relative;
  text-align: center;
  object-fit: cover;
  width: 70%;
}

.about-paragraph {
  position: absolute;
  color: #fff;
  top: 55%;
  left: 10%;
  right: 10%;
  font-size: 23px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

.events {
  position: relative;
  text-align: center;
  top: -50px;
  object-fit: cover;

}

.events-bg {
  position: relative;
  text-align: center;
  object-fit: cover;
  width: 70%;
}

.card1 {
  position: absolute;
  top: 65%;
  left: 19%;
  transform: translate(-50%, -50%);
}

.card2 {
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.card3 {
  position: absolute;
  top: 65%;
  left: 61%;
  transform: translate(-50%, -50%);
}

.card4 {
  position: absolute;
  top: 65%;
  left: 82%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  width: 270px;
  height: 270px;
  background: #101010;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-top: 100px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}

.front img {
  height: 225px;
  width: 225px;
  border: 5px solid #008b8b;
  border-radius: 2px;


}

.front h4 {
  color: #fff;
  margin-top: 10px;
  font-weight: lighter;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  background: rgba(158, 158, 158, 0.2);
  transform: perspective(600px) rotateY(180deg);
  height: 225px;
  width: 225px;
  border: 5px solid #008b8b;
  border-radius: 2px;


}

.back-content a {
  position: relative;
  color: #ffffff;
  width: 100%;
  left: 45%;
  bottom: -50px;
  font-size: large;
  border: #000000;
  border-radius: 2px;

  background-color: rgba(0, 0, 0, 0.5);
}


.card:hover>.front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
  transform: perspective(600px) rotateY(0deg);
}

.initiatives {
  position: relative;
  text-align: center;
  object-fit: cover;
  top: 100px;
}

.initiatives-bg {
  position: relative;
  object-fit: cover;
  width: 70%;
  text-align: center;
}


.initiatives-box {
  background-color: #041647;
  position: absolute;
  color: #fff;
  top: 55%;
  left: 15%;
  right: 15%;
  font-size: 20px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  height: 350px;
  display: flex;
  justify-content: center;
}

.initiatives-box p {
  margin-top: 50px;
}

.initiative-img1 {
  background-color: #101010;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 27px;
  right: 50px;
}

.countdown {
  position: relative;
  text-align: center;
  object-fit: cover;
  top: 300px;
}

.countdown-bg {
  width: 100%;
  margin-top: -60px;
}

.clockdiv {
  position: absolute;
  top: 30%;
  left: 20%;
  color: #fff;
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  font-size: 120px;
}

.clockdiv>div {
  padding: 50px 50px 50px 50px;
  border-radius: 3px;
  background: #231f20;
  display: inline-block;
  width: 200px;
  height: 220px;
  text-align: center;
}

.clockdiv div>span {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  background: #000000;
  display: inline-block;
  position: relative;
  left: -25px;
  top: -25px;
}

.smalltext {
  margin-top: -15px;
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    border-radius: 5px;
    text-align: right;
    transition: 0.5s;
  }

  .nav-item .login {
    padding: 0;
    border-radius: 2px;
    border: 1px solid red;
  }

  .nav-item .register {
    border-radius: 2px;
    background-color: red;
    padding: 5px;
    margin-top: 3px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    padding: 3.5px;
    display: block;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    right: 0;
    margin-right: -200px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    background-color: orange;
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: orange;
  }

  .bg {
    height: 300px;
    width: 100vw;
  }
}